# Archived code
/_archive/

# Dependencies
node_modules/

# Compiled TypeScript files
dist/

# Executable files
bin/
target/

# Do not commit Bun lockfile. Why? Because Bun will convert the npm lockfile to a Bun
# lockfile (https://github.com/oven-sh/bun/pull/6352)
bun.lockb